

h1{text-align: center; font-size: 50px;}



html{
    background-image: url(../img/oregon.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: url('fuze.png'), auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    user-select: none;

}

#barikada {
    max-width: 500px;
    width: 100%;
    display: table;
    transition: .3s ease;
    cursor: url('fuze.png'), auto;
    margin-left: 39%;
    

}



#counter{
    text-align: center;
    font-size: 70px;
    margin-left: 50px;
    
}
#barikada:hover{
   transform: scale(1.1);
}
#clickUpgrade{
    border-radius: 10px;
    font-size: 31px;
    cursor: url('fuze.png'), auto;
    transition: .3s ease;
    background-color: rgb(0, 0, 0);
    text-align: center;
    display: table;
    margin-left: 70px;
    color: rgb(133, 133, 133);
    margin-top: 505px;
    background-image: url("./Mira.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    height: 150px;
    width: 500px;




 
}
#clickUpgrade:hover{transform: scale(1.1);}

#autoclickUpgrade{
    border-radius: 10px;
    font-size: 31px;
    cursor: url('fuze.png'), auto;
    transition: .3s ease;
    background-color: rgb(0, 0, 0);
    text-align: center;
    display: table;
    margin-left: 70px;
    margin-top: 20px;
    background-image: url("./Mira.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(133, 133, 133);
    height: 150px;
    width: 500px;

    }


    #autoclickUpgrade:hover{transform: scale(1.1);}

    .buttons {
        float: right;
        background-color: rgba(255, 255, 255, 0);
       height: 500px;
       width: 600px;
       background-image: url("./Fuze2.webp"); 
       margin-top: -200px;
       
        
    }
    .container {
        float: center;
    }
    
    
    #counter{width: 30%; margin-left: 700px;}
    
    
    p{color: white;}
    
    
    
    
   
